body{
    background-image: url(./images/bg.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
   
    /* background-image: linear-gradient(to right,#d0d7ff, #4a5461); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
} 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    color: rgb(212, 212, 212);
    font-size: 50px;
    font-weight: 900;
}

.time {
    width: 150px !important;
    background-image: linear-gradient(#c4c4c4, #272727);
    color: #fff;
    border: 1px solid black;
}

.time p{
    font-size: 40px !important;
    font-weight: 700;
    text-align: center;
}
.timeHead{
    width: 150px !important;
}
.timeHead p{
    color: rgb(212, 212, 212);
    font-size: 30px !important;
    font-weight: 800;
    text-align: center;
}

.fas{
    color: rgb(212, 212, 212);
    font-size: 40px !important;
    font-weight: 800;
}